body {
	margin: 0;
	padding: 1rem;
	min-height: 100%;
	background-color: #0F0F0F;
	color: #2F2F2F;
	font-family: sans-serif;
}

a {
	color: #2F2F2F;
	text-decoration: none;
}

.welcome {
	text-align: center;
	font-size: 300%;
	padding-top: 10%;
}

.welcome > .panel {
	margin: 1em;
	padding: 1em;
	font-size: 70%;
}

.welcome > .panel > a {
	color: #AAAAAA;
}

.dashboard {
	padding: 3rem;
	text-align: center;
	height: 100%;
}

.dashboard > .panel {

}

.dashboard > .label {
	position: absolute;
	top: 1.5rem;
	left: 4rem;
	color: #AAAAAA;
}

.lightboard {
	padding: 3rem;
	text-align: center;
	height: 100%;
	font-size: 300%;
}

.sequence {
	position: relative;
	display: block;
	padding: 1rem;
	border: dashed 1px #2F2F2F;
}

.sequence > .label {
	position: absolute;
	left: 0.2rem;
	top: 0.2rem;
}

.group {
	position: relative;
	display: inline-block;
	padding: 1rem;
	margin: 0 1rem;
	border: dotted 1px #2F2F2F;
}

.group > .label {
	position: absolute;
	left: 0.2rem;
	top: 0.2rem;
}

.light {
	display: inline-block;
	padding: 0.5rem;
	background-color: #0F0F0F;
}

.light > .label {
	display: inline-block;
	padding-bottom: 0.5em;
	color: #555555;
}

.light > .panel {
	display: block;
	padding: 1em 0.5em 0.5em 0.5em;
	width: 5em;
	height: 16.5em;
	background-color: black;
	border-radius: 1em;
}

.light > .panel > .box {
	display: block;
	width: 5em;
	height: 5em;
	margin: 0 0 0.5em 0;
	border-radius: 2.5em;
	box-shadow: 0px -0.1em 0px 0.05em rgba(70,70,70,0.4);
}

.stateR .boxRed {
	background-color: red;
	box-shadow: 0px 0px 4rem 4px red!important;
}
.stateR .boxYellow {
	background-color: #0F0F0F;
}
.stateR .boxGreen {
	background-color: #0F0F0F;
}

.stateG .boxRed {
	background-color: #0F0F0F;
}
.stateG .boxYellow {
	background-color: #0F0F0F;
}
.stateG .boxGreen {
	background-color: #33ff00;
	box-shadow: 0px 0px 4rem 4px #33ff00!important;
}

.stateA .boxRed {
	background-color: red;
	box-shadow: 0px 0px 40px 2px red!important;
}
.stateA .boxYellow {
	background-color: #ffd500;
	box-shadow: 0px 0px 4rem 4px #ffd500!important;
}
.stateA .boxGreen {
	background-color: #0F0F0F;
}

.stateY .boxRed {
	background-color: #0F0F0F;
}
.stateY .boxYellow {
	background-color: #ffd500;
	box-shadow: 0px 0px 4rem 4px #ffd500!important;
}
.stateY .boxGreen {
	background-color: #0F0F0F;
}